/* Global */

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

/* Layout */

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 4rem;
  overflow: hidden;
}

.header {
  display: flex;
}

.main {
  display: flex;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.header-left {
  width: 50%;
  padding: 1rem;
  text-align: left;
}

.header-right {
  width: 50%;
  padding: 1rem;
  text-align: right;
}

.main-left {
  padding: 1rem;
  width: 33.333333333333%;
}

.main-middle {
  padding: 1rem;
  width: 33.333333333333%;
}

.main-right {
  padding: 1rem;
  width: 33.333333333333%;
}

/* Content */

.title {
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: -5px;
  font-style: italic;
  margin: 0;
  line-height: 0.9;
  color: #de3c4b;
}

.subtitle {
  font-size: 3rem;
  letter-spacing: -1.5px;
  margin: 0;
  line-height: 0.9;
  font-weight: 700;
  color: #2c292d;
}

.version {
  background: #de3c4b25;
  border-radius: 50px;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  color: #de3c4b;
  line-height: 1;
  
}

.maintainer {
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #2c292d;
  font-size: 0.9rem;
  font-family: monospace;
  line-height: 1;
  letter-spacing: -0.2px;
  padding-bottom: 0.5rem;
}

.link {
  color: #2c292d;
}

.emoji {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
  padding-bottom: 0.5rem;
}

.input {
  width: 100%;
  height: 90%;
  resize: none;
  border-radius: 6px;
  white-space: pre;
  padding: 1rem;
  font-size: 1rem;
  white-space: nowrap;
  background: #00000017;
  overflow-x: hidden;
  overflow-y: auto;
}


.viz {
  border: 1px solid #222;
  border-radius: 6px;
  height: 90%;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto
}

.output {
  background: #2c292d;
  border-radius: 6px;
  width: 100%;
  height: 90%;
  padding: 1rem;
  color: #ff6188;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}
